<script src="~/dist/vueExample/js/chunk-vendors.js"></script>
<script src="~/dist/vueExample/js/app.js"></script>

@{
    string appName = "app" + ViewBag.seed;
}
<div id="@appName"></div>

<script>
    
    const el = document.querySelector('#@appName');
    //window.initPreview(el, '@(ViewBag.seed)');
    let event = new CustomEvent('init-preview-app', { detail: { element: el, seed: '@ViewBag.seed' }});
    window.dispatchEvent(event);
    setTimeout(() => {
        console.log('running', 'init-preview-app' + '@ViewBag.seed')
        if(el) {
            
            window['init-preview-app' + '@ViewBag.seed'](el);
        }
    },50);
</script>